<%- include("../includes/header.ejs", {title: "Update " + sale_item.sale_id}); %>

<h1>Update <%= sale_item.sale_id%></h1>
<form action="/sale_item/update" method="get">
    <input type="hidden" id="sale_id" name="sale_id" value="<%= sale_item.sale_item_id %>">
    Sale: <input id="sale_item" name="sale_item" type="text" value="<%= sale_item.sale_id%>"/>
    <br />
    <br />

    Updated Description: <input id="sale_item" name="sale_item" type="text" value="<%= sale_item.sale_id%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>