<%- include("./includes/header.ejs", {title:"About"}); %>

<h1 xmlns="http://www.w3.org/1999/html">About Our Company</h1>

<body>
Our company was inspired by a local beauty store that was started in 2015. The woman had recently graduated from
highschool in 2013, and decided that she was so passionate about beauty that she got herself into a beauty school and
not too long after she graduated from the beauty school, she opened her own beauty store.
</body>

<h1>Purpose</h1>

<body>
The purpose of the database and this website is so that our Beauty Online employees can see which brands we carry as
well as which products we carry, and allows us to keep track of products, sales, colors of products, (etc.).

The database provides us with brand information, the type of products we have, and the color of the product, (etc.).
This is better seen in the relational schema as well as the entity-relationship diagram below.

The database was created to make it easier to keep track of items and sales for business needs and it is very important
in helping to keep our business running successfully.</br>

<h2>Relational Schema</h2>
<img src="/images/relational_schema.png">
<br>
<h2>Entity Relationship Diagram</h2>
<img src="/images/entity_relationship.png">
</body>

<%- include("./includes/footer.ejs"); %>