<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title + ' Activity Log' + '!'%></p>
    <p><%='This is where employees can keep track of products, sales, brands carried, types of products, colors of products, etc. '%></p>
    <p><%='If you would like to know more about our company, please visit the '%> <a href="/about">About</a> <%='page.'%></p>

    <a href="/brand/all">Brands - View All</a>
    <br />

    <a href="/type/all">Types - View All</a>
    <br />

    <a href="color/all">Colors - View All</a>
    <br />

    <a href="addresses/all">Addresses - View All</a>
    <br />

    <a href="product/all">Products - View All</a>
    <br />

    <a href="type/high_value">List of product types with high inventory value</a>

<%- include("./includes/footer.ejs"); %>
