<%- include("../includes/header.ejs", {title:"Colors - View All"}); %>

<h1>Colors</h1>
<a href="/color/add">Add New Color</a> <br />

<br />

<table border="1">
    <tr><th>Color</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/color/?color_id=<%= result[i].color_id %>"><%= result[i].color %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/color/edit/?color_id=<%= result[i].color_id %>'">Edit</button>
            <form action="/color/delete/" style="display:inline;">
                <input type="hidden" name="color_id" id="color_id" value="<%= result[i].color_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>