<%- include("../includes/header.ejs", {title: "Update " + color.color}); %>

<h1>Update <%= color.color%></h1>
<form action="/color/update" method="get">
    <input type="hidden" id="color_id" name="color_id" value="<%= color.color_id %>">
    Color: <input id="color" name="color" type="text" value="<%= color.color%>"/>
    <br />
    <br />

    Updated Description: <input id="color" name="color" type="text" value="<%= color.color%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>