<%- include("../includes/header.ejs", {title:"Add New Color"}); %>
<h1>Add New Color</h1>
<form action="/color/insert" method="get">
    Color: <input id="street" name="street" type="text" />
    <br />
    <br />
    Color
    <br />
    <select id="color_id" name="color_id" multiple="multiple">
        <% for(var i=0; color.length > i; i++ ) { %>
        <option value="<%= color[i].color_id %>"><%= color[i].color %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#color_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>