<%- include("../includes/header.ejs", {title: "Update " + product.product}); %>

<h1>Update <%= product.product%></h1>
<form action="/product/update" method="get">
    <input type="hidden" id="product_id" name="product_id" value="<%= product.product_id %>">
    Product: <input id="product" name="product" type="text" value="<%= product.product%>"/>
    <br />
    <br />

    Update Product: <input id="product" name="product" type="text" value="<%= product.product%>"/>
    <br />

    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>

</html>