<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Address</h1>
<form action="/addresses/insert" method="get">
    Address: <input id="street" name="street" type="text" />
    <br />
    <br />
    Address
    <br />
    <select id="addresses_id" name="addresses_id" multiple="multiple">
        <% for(var i=0; addresses.length > i; i++ ) { %>
        <option value="<%= addresses[i].addresses_id %>"><%= addresses[i].street + ', ' + addresses[i].zip_code %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#addresses_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>