<%- include("../includes/header.ejs", {title:"High Value"}); %>

<h1>High Value</h1>

<table border="1">
    <tr><th>Product Type</th><th>Value</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].type_id %><%= result[i].type%></td>
        <td><%= result[i].type_id %><%= result[i].total_stock%></td>
    </tr>
    <% } %>
</table>

<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>