<%- include("../includes/header.ejs", {title:"Types"}); %>
<h1>Types</h1>
<ul>

    <li>Type:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].type %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/type/all"><< back</a>

<%- include("../includes/footer.ejs"); %>