<%- include("../includes/header.ejs", {title: "Update " + type.type}); %>

<h1>Update <%= type.type%></h1>
<form action="/type/update" method="get">
    <input type="hidden" id="type_id" name="type_id" value="<%= type.type_id %>">
    Type: <input id="type" name="type" type="text" value="<%= type.type%>"/>
    <br />
    <br />

    Update Type: <input id="type" name="type" type="text" value="<%= type.type%>"/>
    <br />

    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>

</html>