<%- include("../includes/header.ejs", {title:"Types - View All"}); %>

<h1>Types</h1>
<a href="/type/add">Add New Type</a> <br />

<br />

<table border="1">
    <tr><th>Type</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/type/?type_id=<%= result[i].type_id %>"><%= result[i].type %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/type/edit/?type_id=<%= result[i].type_id %>'">Edit</button>
            <form action="/type/delete/" style="display:inline;">
                <input type="hidden" name="type_id" id="type_id" value="<%= result[i].type_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>