<%- include("../includes/header.ejs", {title:"Sales - View All"}); %>

<h1>Sales</h1>
<a href="/sales/add">Add New Sale</a> <br />

<br />

<table border="1">
    <tr><th>Sale</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/sales/?sale_id=<%= result[i].sale_id %>"><%= result[i].sale_date %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/sales/edit/?sale_id=<%= result[i].sale_id %>'">Edit</button>
            <form action="/sales/delete/" style="display:inline;">
                <input type="hidden" name="sale_id" id="sale_id" value="<%= result[i].sale_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>