<%- include("../includes/header.ejs", {title:"Sales"}); %>
<h1>Sales</h1>
<ul>

    <li>Sale:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].sale_date %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/sales/all"><< back</a>

<%- include("../includes/footer.ejs"); %>