<%- include("../includes/header.ejs", {title:"Add New Sale"}); %>
<h1>Add New Sale</h1>
<form action="/sales/insert" method="get">
    Sale: <input id="street" name="street" type="text" />
    <br />
    <br />
    Sale
    <br />
    <select id="sale_id" name="sale_id" multiple="multiple">
        <% for(var i=0; sales.length > i; i++ ) { %>
        <option value="<%= sales[i].sale_id %>"><%= sales[i].sale_date %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sale_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>