<%- include("../includes/header.ejs", {title:"Brands - View All"}); %>

<h1>Brands</h1>
<a href="/brand/add">Add New Brand</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/brand/?brand_id=<%= result[i].brand_id %>"><%= result[i].brand_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/brand/edit/?brand_id=<%= result[i].brand_id %>'">Edit</button>
            <form action="/brand/delete/" style="display:inline;">
                <input type="hidden" name="brand_id" id="brand_id" value="<%= result[i].brand_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>