<%- include("../includes/header.ejs", {title: "Update " + brand.brand_name}); %>

<h1>Update <%= brand.brand_name%></h1>
<form action="/brand/update" method="get">
    <input type="hidden" id="brand_id" name="brand_id" value="<%= brand.brand_id %>">
    Brand Name: <input id="brand_name" name="brand_name" type="text" value="<%= brand.brand_name%>"/>
    <br />
    <br />
    Address <br />
    <select id="addresses_id" name="addresses_id" multiple="multiple">
        <% for(var i=0; addresses.length > i; i++ ) {
            var selected = "";

            if(addresses[i].brand_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= addresses[i].addresses_id %>" <%= selected %> ><%= addresses[i].street + ', ' + addresses[i].zip_code %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#addresses_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>